
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{ 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;

} 
.logo{
    text-decoration: none;
    color:#1c85ef;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2em;

}
.navigation a{
    color:#1c85ef;;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    padding-left: 30px;
}
.navigation a:hover{
    color:black;
     
}
section{
   padding: 100px 200px;
    
}
.main{
    width: 100%;
    min-height: 100vh ;
    display: flex;
    align-items: center;
    background: url(imges/background.jpg); no-repat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed ;

}
.main h2{
    color: white;
    font-size: 1.5em;
    font-weight: 500;

}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color:#1c85ef;
    font-size: 3em;
    font-weight: 600;
    -webkit-text-stroke: 1px white;
}
.main h3{
    color: black;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px;
    margin-bottom:30px ;
}
.main-btn {
    color: white;
    background-color:#1c85ef;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition:  0.8s ease;

}
.main-btn:hover{
    background-color:white ;
    color:#1c85ef ;
    transform: scale(1.1);
}

.main-btn2{
    color: white;
    background-color:black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition:  0.8s ease;
    margin-right: 12px;

}
.main-btn2:hover{
    background-color:white ;
    color: black;
    transform: scale(1.1);
}
.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}

.title{
    display: flex;
    justify-content: center;
    color: #1c85ef;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap ;
}
.allcards{
    display: flex;
    justify-content: center;
    
}
.card{
    background-color: white;
    width:18em ;
    box-shadow: 0 5px 25px rgba(1, 1, 1,15% );
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
} 
.card:hover {
    transform: scale(1.1);

}
.icon{
    color:#1c85ef ;
    font-size: 6em;
    text-align: center;
}
.info{
    text-align: center;

}

.info h3{
    color: #1c85ef;
    font-size:1.2em;
    font-weight: 700;
    margin: 10px;
}
.sorry{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 500;

}
.projects{
    background-color: black;
}
.contact .icon{
    font-size: 4.5em;
    
}
.contact .info h3{
    color: black;

}
.contact .info p{
    font-size: 1em;
} 
.footer{
    background-color: black;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;

}
.footer-title span{
    color:#1c85ef ;
}

.footer .social-icons a{
    font-size: 1.5em;
    padding:0 12px 0 0; 

}
.see span{
    color: white;
    background-color:#1c85ef;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    display: inline-block;
    padding: 0.6000em 1.1em;
    letter-spacing: 0.8px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition:  0.8s ease;
   
}

.see span:hover{
    background-color:#03488d ;
    transform: scale(1.1);
}
/* WhatsApp button styles */
.whatsapp-button {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    background-color: #25bd5d; /* WhatsApp green color */
    color: #fff;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 0 5px 25px rgba(1, 1, 1,60% );
}

.whatsapp-button:hover {
    background-color: #128C7E; /* Darker shade of WhatsApp green on hover */
}
.whatsapp-button i {
    font-size: x-large;

}






@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation {
       display: flex;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
   .main{
    width: 30%;
    height: auto;
   }
}

@media (max-width:700px) {
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
    .main{
        width: 50%;
        height: 50%;
        background: url(imges/background2.jpg); 
        background-size: 250%;
        background-repeat: no-repeat;
        background-position: center center;
        
        
       
      
    }

}


@media (max-width:500px) {
    body{
        font-size: 10px;
    }
    .main{
        width: 50%;
        height: 50%;
        background: url(imges/background2.jpg); 
        background-size: 300%;
        background-repeat: no-repeat;
        background-position: center center;
        
        
       
      
    }
    .main h2{
        color: white;
        font-size: 1.8em;
        font-weight: 700;
    
    }
    .main-btn2{
        
        font-size: 1.5em;

        }

     .main-btn {
         
            font-size: 1.5em;
          
           
        }

.navigation a{

    font-size: 1.2em;
    font-weight: 710;
    padding-left: 10px;
}
.cardscontact .card{
    font-size: smaller;
    width: 200px;
    padding: 20px;
    margin: 10px;
}


.card{


font-size: larger;
font-weight: 600;

   

    

    }
.cards .content{
    font-size: larger;

}
section{
        padding: 60px 10px;
    }

    .title{
        font-size: 3em;
    }



   .footer{
    padding: 0.5em;
   }
   .footer-title{
    font-size: 1em;
    font-weight: 600;

}
}